/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */

$topbar-height: 35px;
$topbar-bg: #2e2e2e;

@import "lib/foundation";

body {
  padding-top: $topbar-height;
  -webkit-font-smoothing: antialiased;
}

.cover {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

button {
  outline: none;
  -webkit-user-select: none;
}

.fa {
  margin-right: 5px;
}

/*------------------------------------*\
    WELCOME SCREEN
\*------------------------------------*/

.btn.outline {
  padding: 10px 23px;
  font-size: 13px;
  font-weight: 700px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid rgba(255,255,255,.3);
  letter-spacing: .08em;
  border-radius: 5px;

  &:hover {
    background: rgba(255,255,255,.3);
  }
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 170px;
  overflow: auto;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #fff;
    text-shadow: 0 1px 16px rgba(0,0,0,.5), 0 0 1px rgba(0,0,0,.5);
  }
}

video {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  background-size: contain;
}

/*------------------------------------*\
    TOPBAR
\*------------------------------------*/

.top-bar-section ul li {
  position: relative;
  padding: 0 15px;
  font-size: 0.8125rem;
  line-height: $topbar-height;
  color: #b4bac1;
  background: transparent;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 0.8125rem;
  color: #b4bac1;
  line-height: $topbar-height;
  transition: color .2s ease-in;
  -webkit-user-select: none;

  &:hover {
    color: #fff;
  }
}





/*------------------------------------*\
    UTILITIES
\*------------------------------------*/

.hidden {
  display: none;
}





/*------------------------------------*\
    ICONS
\*------------------------------------*/

@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.woff');
}

[class^='icon-'] {
  font: 3.4em 'Entypo';
  line-height: $topbar-height;
  color: #b4bac1;
  cursor: pointer;
  transition: color .2s ease-in;
  -webkit-user-select: none;

  &:hover {
    color: #fff;
  }
}

.icon-new:before { content: '\E003'; }
.icon-yaml:before { content: '\1F4F0'}
.icon-exit:before { content: '\E740'; }
.icon-home:before { content: '\2302'; }
.icon-save:before { content: '\1F4BE'; }
.icon-publish:before { content: '\1F4E4'; }
.icon-settings:before { content: '\2692'; }
.tipsy {
  font-size: 11px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

.tipsy-inner {
  background-color: #222;
  color: #fff;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}

.tipsy-inner {
  border-radius: 2px;
}

/* Uncomment for shadow */
//.tipsy-inner { box-shadow: 0 0 5px #222000; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #222; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #222; }
.tipsy-arrow-s { border-top-color: #222; }
.tipsy-arrow-e { border-left-color: #222; }
.tipsy-arrow-w { border-right-color: #222; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
