/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */

$topbar-height: 45px;
$topbar-bg: rgba(34,34,34,.93);

@import "lib/foundation";
@import "utilities";




body {
  padding-top: 45px;
  -webkit-font-smoothing: antialiased;
}

.cover {
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

button {
  outline: none;
  -webkit-user-select: none;
}

.fa {
  margin-right: 5px;
}

.btn.outline {
  padding: 10px 23px;
  font-size: 13px;
  font-weight: 700px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid rgba(255,255,255,.3);
  letter-spacing: .08em;
  border-radius: 5px;

  &:hover {
    background: rgba(255,255,255,.3);
  }
}

.home {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 230px;
  overflow: auto;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #fff;
    text-shadow: 0 1px 16px rgba(0,0,0,.5), 0 0 1px rgba(0,0,0,.5);
  }
}

/*------------------------------------*\
    TOPBAR
\*------------------------------------*/

.top-bar-section ul li {
  padding: 0 15px;
  font-size: 0.8125rem;
  line-height: 45px;
  color: #b4bac1;
}





/*------------------------------------*\
    ICONS
\*------------------------------------*/

@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo.woff');
}

[class^='icon-'] {
  font: 3.4em 'Entypo';
  line-height: 44px;
  color: #b4bac1;
  cursor: pointer;
  transition: color .2s ease-in;
  -webkit-user-select: none;

  &:hover {
    color: #fff;
  }
}

.icon-new:before { content: '\E003'; }
.icon-home:before { content: '\2302'; }
.icon-save:before { content: '\1F4BE'; }
.icon-save:before { content: '\1F4BE'; }
.icon-publish:before { content: '\1F4E4'; }
.icon-settings:before { content: '\2692'; }

